In [66]:
import pandas as pd

In [67]:
df = pd.read_csv("./aidData.csv")

In [68]:
data_agg = df.groupby(['coalesced_purpose_code'], as_index=False).agg({"commitment_amount_usd_constant": "sum"})

In [69]:
data_agg.nlargest(5, 'commitment_amount_usd_constant')

     coalesced_purpose_code  commitment_amount_usd_constant
92                    21050                    3.981348e+10
90                    21030                    2.078091e+10
170                   32120                    1.974833e+10
230                   60040                    1.795495e+10
105                   23020                    1.634623e+10

In [70]:
purpose_list = [21030,21050,23020,32120,60040]

In [71]:
data_r = df[["recipient","donor","coalesced_purpose_code","commitment_amount_usd_constant"]]

In [73]:
data_r = data_r[data_r['coalesced_purpose_code'].isin([purpose for purpose in purpose_list])]

In [74]:
data_r = data_r.groupby(['recipient','donor','coalesced_purpose_code'], as_index=False).agg({"commitment_amount_usd_constant": "sum"})

In [75]:
data_f = data_r.groupby(["recipient","donor"])['coalesced_purpose_code'].apply(list)

In [76]:
data_f.to_csv("./piFinalData.csv")

In [77]:
data_r = data_r.groupby(['recipient','donor'], as_index=False).agg({"commitment_amount_usd_constant": "sum"})

In [78]:
donor = data_r['donor'].unique()

In [79]:
recipient = data_r['recipient'].unique()

In [80]:
list_ = list(donor) + list(recipient)

In [81]:
my_set = set(list_)
my_new_list = list(my_set)

In [82]:
my_new_list

['Taiwan',
 'Chile',
 'Slovenia',
 'New Zealand',
 'United States',
 'Qatar',
 'Kuwait',
 'Sweden',
 'Finland',
 'Estonia',
 'Iceland',
 'India',
 'Canada',
 'Ireland',
 'France',
 'Lithuania',
 'Austria',
 'Cyprus',
 'Denmark',
 'Australia',
 'Hungary',
 'Czech Republic',
 'Japan',
 'Brazil',
 'South Africa',
 'Romania',
 'Belgium',
 'Luxembourg',
 'Saudi Arabia',
 'Germany',
 'Norway',
 'Liechtenstein',
 'Latvia',
 'Slovak Republic',
 'Spain',
 'Colombia',
 'Portugal',
 'Netherlands',
 'Italy',
 'Greece',
 'United Arab Emirates',
 'United Kingdom',
 'Poland',
 'Thailand',
 'Switzerland',
 'Korea']

In [83]:
import numpy as np
np.savetxt("allNodes.csv", my_new_list , delimiter=",", fmt='%s', header="node")

In [84]:
import csv
with open('piFinalData.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        row